# GOOD MORNING EVERY ONE

In [ ]:
print("welcome to the world")

In [ ]:
a=input()
print(a)

In [ ]:
a=int(input("enter value"))
b=int(input("enter value"))
c=a+b
print(c)

In [ ]:
90+50

# for loop

In [ ]:
a=int(input("enter a roll number"))
i=0
if i<a :
    print(a)
    i=i-1
else :
    print ("out put is")

In [ ]:
a=int(input("enter value"))
b=int(input("enter value"))
c=a-b
print(c)

# conditional statements

## if condition

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
if a==b:
   print("both are equal")
elif a>b:
    print ("a is greater")
else:
   print("b is greater")

## Greatest of 3 numbers

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))
if a>b:
    print(a)
    elif a>c:
    print(c)

# calendar

In [ ]:
import calendar
a=int(input())
b=int(input())
year=a
month=b
d=calendar.month(year,month)
print(d)

# data type

In [1]:
a="prasad"
type(a)

str

In [2]:
a=1
type(a)

int

In [3]:
a=0.025
type(a)

float

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
y=["baby","boy","brinjal"]
x=["kid","adult","vegetable"]
for i in y:
    for j in x:
        print(y,x)

['baby', 'boy', 'brinjal'] ['kid', 'adult', 'vegetable']
['baby', 'boy', 'brinjal'] ['kid', 'adult', 'vegetable']
['baby', 'boy', 'brinjal'] ['kid', 'adult', 'vegetable']
['baby', 'boy', 'brinjal'] ['kid', 'adult', 'vegetable']
['baby', 'boy', 'brinjal'] ['kid', 'adult', 'vegetable']
['baby', 'boy', 'brinjal'] ['kid', 'adult', 'vegetable']
['baby', 'boy', 'brinjal'] ['kid', 'adult', 'vegetable']
['baby', 'boy', 'brinjal'] ['kid', 'adult', 'vegetable']
['baby', 'boy', 'brinjal'] ['kid', 'adult', 'vegetable']

# function:

# function : is a group of statements to perform a specific task 
# function having "A RETURN TYPE"

In [ ]:
def functionname(parameters):
    return statement
function name()

# example problem

In [10]:
def add(x,y):
    c=x+y
    return c
a=int(input())
b=int(input())
add(a,b)

20
20

40

In [13]:
def sub(x,y):
    c=x-y
    return c
a=int(input())
b=int(input())
sub(a,b)

20
30

-10

In [14]:
def switch(x,y):
    c=x+y
    c=x-y
    c=x*y
    c=x/y
    c=x%y
    return c
a=int(input())
b=int(input())
switch(a,b)

20
2

0

In [17]:
def sub(x,y):
    c=x-y
    return c
def mul(x,y):
    c=x*y
    return c
def div(x,y):
    c=x/y
    return c 
x=int(input())
y=int(input())

print(sub(x,y))
print(mul(x,y))
print(div(x,y))

20
10
10
200
2.0

## Table of given number

In [21]:
i=int(input("enter the value of table"))
for n in range(1,11):
    print(i,"x",n,"=",i*n)

enter the value of table13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

# even or odd

In [1]:
def evenorodd(a):
    if (a%2==0):
        print("even")
    else:
        print("is odd")
        return evenorodd(a)
a=int(input())

3